.header{

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #000647;
}
.gallery img{
    width: calc(33%-20px);
    height: auto;
    object-fit: cover;
    margin: 10px;
    border-radius: 30px;
}